@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

#form {
  width: 100%;

  .form-input-box {
    display: flex;
    gap: 2.5em;
  }

  .input-box {
    color: variables.$primary-color;
    display: grid;
    width: 100%;

    label {
      font-size: 1.5em;
      font-weight: bold;
    }

    input,
    textarea {
      border-radius: 1em;
      padding: 1em;
      background-color: variables.$bg-color-secondary;
      color: variables.$primary-color;

      &:focus {
        outline: 1px solid variables.$secondary-color;
      }

      &::placeholder {
        font-weight: bold;
      }
    }
  }

  .form-textarea-box {
    width: 100%;
    margin: 2.4em 0;

    .input-box {
      textarea::placeholder {
        font-weight: bold;
      }

    }
  }

  .btn-submit {
    button[type="submit"] {
      font-size: 1.6em;
      font-family: 'Poppins';
      font-weight: bold;
      color: variables.$primary-color;
      background-color: variables.$secondary-color;
      text-align: center;
      @include mixins.center;
      gap: 1rem;
      padding: .8em 1.5em;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
      border-radius: 3rem;
      cursor: pointer;
      border: 1px solid transparent;
      transition: .3s;

      &:hover {
        background-color: variables.$terciary-color;
        border: 1px solid variables.$secondary-color;
      }

      svg {
        font-size: 1.4em;
      }
    }
  }
}

@media (max-width: 800px) {
  .btn-submit {
    @include mixins.center;
  }
}

@media (max-width: 500px) {
  #form .form-input-box {
    flex-direction: column;
  }
}