@use '../../styles/variables.scss';

#jobs-card {
  display: flex;
  flex-wrap: wrap;
  gap: 4.8em;

  .job {
    padding: 5em;
    background: rgba(57, 62, 70, 0.5);
    border-radius: 1.6em;
  }
}

@media (max-width: 800px) {
  #jobs-card {
    gap: 2.8em;
    justify-content: center;

    .job {
      padding: 3em;
    }
  }
}

@media (max-width: 500px) {
  #jobs-card {
    .job {
      width: 95%;
    }
  }
}