@use './variables.scss';

.container {
  .arrow {
    background-color: variables.$terciary-color;
    padding: 3em 4em;
    position: absolute;
    left: calc(33% - 50px);
    top: calc(100% + 100px);
  }
}