$bg-color-primary: #222831;
$primary-color: rgba(238, 238, 238, 0.75);;
$secondary-color: #00ADB5;
$terciary-color: #393E46;
$border: 1px solid rgba(238, 238, 238, 0.1);
$bg-color-secondary: rgba(57, 62, 70, 0.5);