@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

#about {
  padding: 0 9em 8em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  border-bottom: variables.$border;

  .arrow-illustration {
    position: absolute;
    bottom: 25%;
    left: 15%;
    transform: rotate(190deg);
  }

  .music-illustration {
    position: absolute;
    top: -15%;
  }

  .side-left {
    width: 40%;
    color: variables.$primary-color;

    div {
      display: flex;
      gap: 2em;
    }

    p {
      font-size: 1.8em;
    }

    img {
      width: 7em;
    }
  }
}

@media (max-width: 1300px) {
  #about {
    padding: 0 5em 8em;

    .arrow-illustration {
      bottom: 5%;
    }

    .side-left {
      width: 50%;
    }

    .side-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  #about {

    .side-left {
      width: 100%;
      @include mixins.center;
      flex-direction: column;
    }

    .side-right {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  #about {
    padding: 5em 2em 10em;
  }
}

@media (max-width: 400px) {
  #about {
    .side-left {
      width: 100%;

      img {
        width: 5em;
      }
    }
  }
}