@use '../../styles/variables.scss';

#about {
  padding: 0 9em 8em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  border-bottom: variables.$border;

  .arrow-illustration {
    position: absolute;
    bottom: 25%;
    left: 15%;
    transform: rotate(190deg);
  }

  .music-illustration {
    position: absolute;
    top: -15%;
  }

  .side-left {
    width: 30%;
    color: variables.$primary-color;

    div {
      display: flex;
      gap: 2em;
    }

    p {
      font-size: 1.8em;
    }

    img {
      width: 7em;
    }
  }
}

@media (max-width: 1300px) {
  #about {
    padding: 0 5em 8em;

    .arrow-illustration {
      bottom: 5%;
    }

    .side-left {
      width: 50%;
    }

    .side-right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}