@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

#home {
  padding: 20em 9em 0;
  margin-bottom: 20em;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;

  .arrow-down {
    background-color: variables.$terciary-color;
    padding: 3em 4em;
    color: variables.$primary-color;
    position: absolute;
    @include mixins.center;
    left: calc(33% - 50px);
    bottom: 0;
    transition: .3s;

    &:hover {
      background-color: variables.$secondary-color;
    }

    svg {
      font-size: 3em;
    }
  }

  .border {
    position: absolute;
    border-left: variables.$border;
    height: 100%;
    left: 33%;
    bottom: 0;
  }

  .side-left {
    width: 100%;
    @include mixins.center;

    h1 {
      color: variables.$primary-color;
      font-size: 9em;
      text-transform: uppercase;
      line-height: 1em;
      margin: 0 0 0.5em 0.3em;
    }

    .btn-actions {
      display: flex;
      gap: 2.4em;
      margin-left: 2.4em;
    }
  }

  .side-right img {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .border {
    display: none;
  }
}

@media (max-width: 1300px) {
  #home {
    padding: 20em 5em 0;

    .side-left h1 {
      font-size: 6em;
    }
  }
}

@media (max-width: 800px) {
  #home {
    padding: 10em 5em 0;

    .side-left {
      justify-content: center;
    }

    .side-right {
      display: none;
    }

    .arrow-down {
      padding: 4em 3em;
      left: calc(50% - 40px);
      top: 120%;
    }
  }
}

@media (max-width: 500px) {
  #home {
    padding: 10em 2em;
    text-align: center;

    .side-left {
      img.illustrative {
        display: none;
      }

      .btn-actions {
        justify-content: center;
      }
    }

    .arrow-down {
      top: 95%;
    }
  }
}

@media (max-width: 400px) {
  #home {
    .side-left {
      h1 {
        font-size: 5em;
      }

      .btn-actions {
        flex-direction: column;

        .btn a {
          width: 90%;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  #home {
    .side-left {
      h1 {
        font-size: 4em;
      }
    }
  }
}