@use '../../styles/variables.scss';

#contact {
  padding: 20em 9em 20em;
  display: flex;
  border-bottom: variables.$border;

  .side-left,
  .side-right {
    color: variables.$primary-color;
    width: 50%;
    position: relative;

    .keyboard-illustration {
      position: absolute;
      left: 10%;
      top: -30%;
    }

    .mail-illustration {
      position: absolute;
      right: 10%;
      bottom: -20%;
    }
  }
}

@media (max-width: 1300px) {
  #contact {
    padding: 20em 5em 20em;

    .side-left img {
      width: 80%;
    }
  }
}

@media (max-width: 800px) {
  #contact {
    padding: 15em 3em;
    display: grid;
    justify-content: center;

    .side-left {
      width: 100%;

      img {
        display: none;
      }
    }

    .side-right {
      width: 100%;
      margin-top: 2em;

      .keyboard-illustration {
        top: -40%;
      }
    }
  }
}