@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 9em;
  border-bottom: variables.$border;
  @include mixins.desktop-small {
    padding: 4em 5em;
  }

  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: variables.$primary-color;
  }

  ul {
    display: flex;
    gap: 4em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;

    li {

      :hover {
        color: variables.$secondary-color;
      }

      a {
        transition: .3s;
        color: variables.$primary-color;
      }
    }
  }
}