@use '../../styles/variables.scss';

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 9em;
  border-bottom: variables.$border;

  .list-menu li img {
    display: none;
  }

  .title {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: variables.$primary-color;
  }

  ul {
    display: flex;
    gap: 4em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;

    li {
      :hover {
        color: variables.$secondary-color;
      }

      a {
        transition: .3s;
        color: variables.$primary-color;
      }
    }
  }
}

@media (max-width: 1300px) {
  #header {
    padding: 4em 5em;
  }
}

@media (max-width: 800px) {
  #header {
    ul {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 500px) {
  #header {
    // .menu-mobile {
    //   display: block;
    //   color: #FFF;
    //   position: absolute;
    //   top: 8%;
    //   right: 10%;

    //   &:hover .list-menu {
    //     background-color: red;
    //     left: 0;
    //   }
    // }

    .list-menu {
      display: block;
      position: fixed;
      background-color: variables.$bg-color-primary;
      top: 0;
      left: -80%;
      bottom: 0;
      width: 80%;
      z-index: 99;
      border-right: variables.$border;

      li {
        border-bottom: variables.$border;
        padding: 1em;
        margin: 1em;

        a {
          display: flex;
          gap: 2em;
        }

        img {
          display: block;
        }
      }
    }
  }
}